@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    grid-template-columns: 5% auto 5%;
    background-color: white;
    @include Asmall(){
        grid-template-columns: $margenContenidoSmall auto $margenContenidoSmall;
    }
    @include smallTablet(){
        grid-template-columns: $margenContenidoSmall auto $margenContenidoSmall;
    }
    .contLogo {
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      @include Asmall() {
        text-align: center;
      }

      .logo {
        width: 55px;
        @include Asmall() {
          width: 50px;
        }
      }
      .santander {
        width: 120px;
        align-self: center;
        justify-self: right;
        @include Asmall() {
          width: 110px;
        }
      }
    }
}
